// footer
.admin_footer{
	background-color: $color2;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
    margin-top:50%;
}
.admin_footer p{
    margin: 0;
    color: white;
    font-weight: lighter;
}