@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}
.invoice{
  margin-top:10%;
  margin-bottom:20%;
}
#logo {
  float: left;
  margin-top: 8px;
}
#logo img {
  height: 70px;
}
#company {
  float: right;
  text-align: right;
}
#details {
  margin-bottom: 50px;
}
#client {
  padding-left: 6px;
  border-left: 6px solid $color2;
  float: left;
}
#client .to {
  color: #777777;
}
h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
}
#invoice {
  float: right;
  text-align: right;
}
#invoice h1 {
  color: $color2;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}
#invoice .date {
  font-size: 1.1em;
  color: #777777;
}
.table_bill {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}
.table_bill th,
.table_bill td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}
.table_bill th {
  white-space: nowrap;        
  font-weight: normal;
}
.table_bill td {
  text-align: right;
}
.table_bill_bill td h3{
  color: $color1;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}
.table_bill .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: $color1;
}
.table_bill .desc {
  text-align: left;
}
.table_bill .unit {
  background: #DDDDDD;
}
.table_bill .total {
  background: $color1;
  color: #FFFFFF;
}
.table_bill td.unit,
.table_bill td.qty,
.table_bill td.total {
  font-size: 1.2em;
}
.table_bill tbody tr:last-child td {
  border: none;
}
.table_bill tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}
.table_bill tfoot tr:first-child td {
  border-top: none; 
}
.table_bill tfoot tr:last-child td {
  color: $color1;
  font-size: 1.4em;
  border-top: 1px solid $color1; 
}
.table_bill tfoot tr td:first-child {
  border: none;
}
#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}
#notices{
  padding-left: 6px;
  border-left: 6px solid $color2;  
}
#notices .notice {
  font-size: 1.2em;
}
footer {
  color: #777777;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #AAAAAA;
  padding: 8px 0;
  text-align: center;
}