// footer
.footer_admin{
	background-color: rgba(59, 27, 27, 0.692);
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
    margin-top:50%;
}
.footer_admin p{
    margin: 0;
    color: white;
    font-weight: lighter;
}